<body style="background-color:#ffd1b3;">
    <div>
        <img src="~/Images/img15.gif" asp-append-version="true" style=" float:left; width:400px; height:410px;">
        <br />
        <br />
        <br />
        <br />
        <br />

        <div style="background-color: #ff6600; padding-left:450px; padding-right:100px;">
            <br />
        <h2><font color="white">Care & Cure - Your Health Partner</font></h2>
            <p><font color="white">We are technology driven online solution for all your medical needs. Our team of medical experts will accompany you at every step. From finding the right doctor and hospital,booking doctor appointments,comparing
                procedure costs to solving your health related queries. We  strive to continuously improve and develop new services to empower and educate patients and their
                families.Care & Cure is here to ensure that the right healthcare decisions are made.</font></p>
                <br />
        </div>
     </div>

     <br />
     <br />

     <div>
         <img src="~/Images/img16.gif" asp-append-version="true" style=" float:right; width:300px; height:310px;">
        <br />
        <br />
        <br />
        <div style="background-color: #ff6600; padding-left:20px; padding-right:50px;">
            <br />
        <h2><font color="white">Our Vision</font></h2>
            <p><font color="white">We envision a healthcare ecosystem where people from around the world can quickly find credible and reliable
                answers to their medical problems along with easy access to the best healthcare experts to guide them towards a healthier, happier and more fulfilling life. We 
                aim to be the first port of call for customers having healthcare related need, doubt, or query.</font></p>
                <br />
        </div>
     </div>

     <br />
     <br />

     <div class="card-columns">
  <div class="card" align="center">
    <img class="card-img-top" src="~/Images/img17.gif" style="width:100px;height:100px;">
    <div class="card-body">
      <h5 class="card-title">COLLABORATION</h5>
      <p class="card-text">We work together to achieve our mission with humility & genuine respect for each member of our team.</p>
    </div>
  </div>
  <div class="card p-3" align="center">
    <img class="card-img-top" src="~/Images/img20.gif" style="width:100px;height:100px;">
    <div class="card-body">
      <h5 class="card-title">INNOVATION</h5>
      <p class="card-text">We are smart, innovative & inspiring changemakers.</p>
    </div>
  </div>

  <div class="card" align="center">
    <img class="card-img-top" src="~/Images/img18.gif" style="width:100px;height:100px;">
    <div class="card-body">
      <h5 class="card-title">EXCELLENCE</h5>
      <p class="card-text">Breaking boundaries & doing more than what is expected is what we are known for.</p>
    </div>
  </div>
  
  <div class="card" align="center">
    <img class="card-img-top" src="~/Images/img21.gif" style="width:100px;height:100px;">
    <div class="card-body">
      <h5 class="card-title">CULTURE & VALUES</h5>
      <p class="card-text">Challenge the norm, pioneer the new normal and share opinions
        freely with colleagues and leaders alike. We create a high-impact, supportive culture to empower and encourage people to achieve more than they could elsewhere. Hence, if you are fanatical about
        creating a lasting impact and obsessive about innovation, then join us to make healthcare affordable, accessible and transparent.</p>
    </div>
  </div>

  <div class="card" align="center">
    <img class="card-img-top" src="~/Images/img19.gif" style="width:100px;height:100px;">
    <div class="card-body">
      <h5 class="card-title">EMPATHY</h5>
      <p class="card-text">We are committed to being the customer's true ally in their lifelong pursuit of better health & well-being.</p>
    </div>
  </div>

  <div class="card" align="center">
    <div class="card-body">
            <img class="card-img-top" src="~/Images/img11.jpg" style="width:100px;height:100px;">
        <h5 class="card-title">WE ARE HERE FOR YOU!</h5>
        <p class="card-text">Join us at Care & Cure.</p>
      </div>
  </div>
  
</div>
<hr />
</body>