<body style="background-color:#b3ccff">
<div class="jumbotron jumbotron-fluid" align="center" style="background-color:#004de6;">
  <div class="container">
      <font color="white">
        <h1 class="display-4">Connect With Us</h1>
        <p class="lead">Partnership,Queries, Ideas or Feedback - Care & Cure is here to build and execute healthcare alliances <br /> while aspiring to perform and provide credible and timely services</p>
      </font>  
</div>
</div>

<div align="center">
<img src="~/Images/img26.gif" asp-append-version="true"style=";width:600px;height:421px;">
</div>

<br />
<div align="center" style="background-color:#004de6;">
    <font color="white">
    <h4>Any more queries?</h4>
    <h5>Call us at - 0000-000-000</h5>
    <h5>or write us at - careandcure@gmail.com</h5>
    </font>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<h6>Care & Cure takes pride in serving its patients, families and partners from all around the country. Whether you have queries about our services, discounts, features, or any other questions, our team is always ready to get in touch and answer!</h6>
<hr />
</body>
